<nav class="menu">
  <input checked="checked" class="menu-toggler" type="checkbox">
  <label for="menu-toggler"></label>
  <ul>
    <li class="menu-item">
      <a class="fas fa-cat" href=""></a>
    </li>
    <li class="menu-item">
      <a class="fas fa-cookie-bite" href="#"></a>
    </li>
    <li class="menu-item">
      <a class="fab fa-earlybirds" href="#"></a>
    </li>
    <li class="menu-item">
      <a class="fab fa-fly"href="#"></a>
    </li>
    <li class="menu-item">
      <a class ="far fa-gem" href="#"></a>
    </li>
    <li class="menu-item">
      <a class="fas fa-glass-cheers" href="#"></a>
    </li>
  </ul>
</nav>  
